<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        <style>.ob-form {
            margin-top: 10px;
        }

        .pic {
            width: 300px;
            height: 300px;
            transition: transform 0.2s ease-in-out;
        }

        .pic:hover {
            transform: scale(1.1);
        }


        .text-title {
            color: black;
            text-align: left;
            font-size: 25px;
        }

        .box-model-left-right {
            border-style: solid;
            border-width: 2px;
            padding: 30px;
            border-color: lightgrey;
            border-top: 0px;
            border-bottom: 0px;
        }

        .box-model-only-bottom {
            border-style: solid;

            padding: 30px;
            border-color: lightgrey;
            border-width: 1px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-bottom: 10px;
        }
        .custom-font{
            font-size : 20px;
            color : darkgrey;

        }
    </style>
    <title>show ob_list</title>



</head>

<body>
   

                
    <div class='container'>

        <hr/>
        <h1>식당리스트?</h1>
        <hr/>
        <!--            <button class='rightfloat' onclick="location.href='../public/write_ob.html'">글쓰기</button>-->

        <%  for(var i =0 ; i<rows.length; i++) { %>
            <%
        
            var curPostNum = rows[i].post_num;
            var curImage = '../uploads/'+rows[i].pic_filename; 
            var curTitle = rows[i].title;
            var curLikecount = rows[i].like_count;
            var curAddress = rows[i].r_address;
        function cutString(str) {
            if( str.length >7) {
                return str.substring(0,7)+' ···';
            } else return str;
        }
         function readContents() {
            location.href ="/loading/read_restaurant?tmp_post_num="+curPostNum; }
        %>
                <div class='col-md-4 ob-form box-model-only-bottom' onclick="location.href='/loading/read_restaurant?tmp_post_num='+<%=curPostNum%>">
                    <div>
                        <img src='/uploads/<%=curImage%>' class="pic">
                    </div>

                    <div>

                        <div >
                            <h2>
                                제목 : <%= cutString(curTitle) %>
                            <h2>
                        </div>
                        <div >
                            <p class='custom-font'>
                                좋아요 : <%= curLikecount %>
                            </p>
                        </div>
                        <div >
                            <p class='custom-font'>
                                위치 : <%= cutString(curAddress) %>
                            </p>
                        </div>
                    </div>
                </div>
                <% }%>
    </div>
</body>

</html>
