<!DOCTYPE HTML>
<html>

<head>


    <meta charset="utf-8" />
    <title>restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="../css/restaurant_main.css" />-->

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .ob-form {
            margin: 5px;
            padding: 5px;

        }

        .pic {
            width: 300px;
            height: 300px;
            transition: transform 0.2s ease-in-out;
        }

        .pic:hover {
            transform: scale(1.1);
        }

        .likecount {
            margin-left: 52%;

        }

        .profilePic {
            width: 100px;
        }

        .box-model-left-right {
            border-style: solid;
            border-width: 2px;
            padding: 30px;
            border-color: lightgrey;
            border-top: 0px;
            border-bottom: 0px;
        }

        /*

        .box-model-only-bottom {
            border-style: solid;

            padding: 30px;
            border-color: lightgrey;
            border-width: 2px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-bottom: 10px;
        }
*/

        .btn-xl {
            height: 70px !important;

        }

        .res-name {
            color: orange;
        }

    </style>
</head>

<body>


    <div class="container ">

        <!--사진은 8개까지 프리뷰, 8개보다 적으면 pic1.jpg 디폴트 -->
        <%  var max_index = 6%>
            <%  if(max_index > rows.length ) {%>
                <%  for(var i =0 ; i<rows.length; i++) { %>
                    <%
                    var curImage = '../uploads/'+rows[i].pic_filename;
                %>
                        <div class="col-md-3 ob-form box-model-only-bottom pic">
                            <img src='/uploads/<%=curImage%>' class='pic'>
                        </div>
                        <% }%>

                            <%  for(var i = rows.length ; i< max_index; i++) { %>
                                <%

                    var curImage = '../uploads/pic1.jpg '; 

                %>
                                    <div class="col-md-3 ob-form box-model-only-bottom pic">
                                        <img src='/uploads/<%=curImage%>' class='pic'>
                                    </div>
                                    <%  } %>

                                        <%  } else { %>


                                            <%  for(var i = 0 ; i< max_index; i++) { %>
                                                <%
                    var curImage = '../uploads/'+rows[i].pic_filename;
                %>
                                                    <div class="col-md-3 ob-form box-model-only-bottom pic">
                                                        <img src='/uploads/<%=curImage%>' class='pic'>
                                                    </div>
                                                    <% }%>

                                                        <% }%>
    </div>
    </div>
    <div class="container">
        <!--        <div class="row col-md-offset-1 box-model-left-right">-->

        <br><br><br><br><br>
        <h1 class="res-name">
            <%=rows[0].r_name%>
        </h1>

        <div class="col-md-1">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> <%=rows[0].view_count%></span>

        </div>
        <div class="col-md-1">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> <%=rows[0].like_count%></span>
        </div>
        <div class="col-md-3">
            <span class="glyphicon glyphicon-time" aria-hidden="true"> <%=rows[0].date%></span>
        </div>

        <a href="/sending/modify?post_num=<%=rows[0].post_num%>"><button class="btn btn-original">사진 추가</button></a>

        <div>

        </div>
        
        <div style="margin-left : 15px">
        
            <hr/>



            <p>전화번호 :
                <%=rows[0].r_tel%>
            </p>
            <p>음식 종류 :
                <%=rows[0].cate_name%>
            </p>
            <p>휴일 :
                <%=rows[0].r_holyday%>
            </p>
            <p>식당소개 :
                <%=rows[0].contents%>
            </p>

            <p></p>
            <hr/><br><br>
        </div>
        <div class="col-md-offset-2">
            <a href="/loading/read_ob"><button class="btn btn-primary col-md-2" style="margin-right : 15px">추천</button></a>
            <a href="/ownerboard/showlist"><button class="btn btn-warning col-md-2">목록으로</button></a>
        </div>
        <br><br><br>
        <div class="col-md-10 ">
            <form method="get" action="/loading/read_board">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <p style="font-size: 20px; ">방문자 댓글</p>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                        <tr>
                            <td>완전 맛나요 강추</td>
                            <td>개발자</td>
                            <td>2017.12.12</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-md-12">
            <form>
                <div class="col-md-8">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-2">
                    <button class="form-control btn btn-primary btn-xl">완료</button>
                </div>
            </form>
        </div>
        <hr/>
        <div class="col-md-3 col-md-offset-3">
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>





    <!-- Footer -->
    <footer id="footer">

        <div class="inner">
            <div class="content">
                <h3>맛집리뷰</h3>
                <p>전국 맛집검색은 맛집리뷰</p>
            </div>

        </div>

    </footer>

    </div>

</body>

</html>
